/* CSS RESET  */
*{
    margin: 0px;
    padding: 0px;
}

/* CSS Varibles */
:root{
    --navbar-height: 300px
}


/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    
}

/*  Navigation Bar: Logo and Image */
#logo{
    margin: 30px 56px
}

#logo img{
    height: 60px;
}
/* #navbar img a{
    cursor: pointer;
} */
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.6;
}


/*  Navigation Bar:  List and styling */
#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding:3px 22px;
    border-radius: 23px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;   
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 68px;
    height: 519px;
    align-items: center;
    justify-content: center;
}

#home::before{
    content: "";
    background: url('../bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 573px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.8rem;
}

/* Services Section */
#services{
    margin: 31px 19px;
    display: flex;
}
#services .box{
    border: 2px solid red;
    border-radius: 29px;
    margin: 37px 9px;
    background-color: #e1e1e1;
    padding: 39px 27px;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}

/* Client section */
#client-section{
    position: relative;
    margin: 30px 0px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('/bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
   height: 150px ;
}

/* Contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;      
    opacity: 0.4;
    background: url('/contact.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-weight: bold;
}

#contact-box input, 
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 9px;
}

html{
    scroll-behavior: smooth;
}

footer{
    color: white;
    background-color: black;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    text-align: center;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
    text-align: center;
    font-weight: bold;

}
.btn{
    padding: 6px 18px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.4rem;
    border-radius: 15px;
    cursor: pointer;
}
.center{
    text-align: center;
}
.font-size{
    font-size: 1.2rem;
}
